body {
    /* background-image: url('./data/lOOzu8wwrtEbQOvAdok4--2--o6phc.jpg'); */
    background-image: url('./data/Chicago-theatre-1920x1080-wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
  }
  h1 {
    background-color: beige;
    opacity: 65%;
    margin: 1% auto;
    max-width: 332px;
  }
  button {
    background-color: lightblue;
  }
  .search {
    float: left;
    margin-left: 1%;
  }
  .movies, .results {
    height: 800px;
    width: 47.9%;
    overflow: scroll;
    border: 1px solid black;
    padding: 2px 10px;
    background-color: beige;
    margin-left: 1%;
    opacity: 50%;
  }
  .msg {
    height: fit-content;
    text-align:center;
    line-height: 2em;
    background-color: beige;
    opacity: 65%;
    border: 1px solid black;
    margin-right: 1%;
  }
  .msg p {
    font-weight: 900;
    opacity: 100%;
    font-size: 1.5em;
  }
  .movies p, .results p {
    opacity: 100%;
    cursor: pointer;
    margin: 0px;
    padding: 5px 0px;
  }
 
  .notFound {
    background-color: white;
    font-weight: bold;
    font-size: 1.5em;
  }

  #toolBox {
    text-align: right;
  }
  

