<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabs</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="tabs.css">
</head>
<body>
    <!-- Use the TAG attribute to link to content-->
<div class="tabs-container">
    <div class="tabs">
        <div class="tab active" tag="all">Tab 1</div>
        <div class="tab" tag="mov">Tab 2</div>
        <div class="tab" tag="tv">Tab 3</div>
        <div class="tab" tag="arch">Tab 4</div>
    </div>
</div>
<script src="./tabs.js"></script>
</body>
</html>