<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./drawer.css">
    <title>Drawers</title>
</head>
<body>
    <div class="presentation">
        <div style="height: 7px; width: 7px;" id="magic">&nbsp;</div>
    </div>
    <script src="./drawerData.js"></script>
    <script src="./drawerLoadingScript.js"></script>
    <script src="./drawerFunctions.js"></script>
</body>
</html>