html {
    background-color: rgb(3, 5, 28);
    scrollbar-width: none;
}

hr {
    margin: 0px;
}

h4.h4 {
    font-size: 1.5em;
}

article.message {
    position: absolute;
    width: 100%;
    top: 0;
    user-select: none;
    z-index: 2000;
}

article.is-info {
    width: 42%;
    left: 29%;
}

.btn-popover {
    display: inline-flex;
    width:max-content;
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0px -2px 5px black,0px 2px 5px white;
    position: absolute;
    top: -25px;
    z-index: 1100;
}

.delete {
    cursor: pointer;
}

.has-background-success {
    background-color: rgba(72,199,142,.50) !important;
}

#list-container {
    max-height: 72vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

#listItem, #doneSubs {
    cursor: pointer;
    font-size: 20px;
    padding-left: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid lightgray;
    user-select: none;
}

#doneSubs {
    border: 0px;
}

#done p {
    text-decoration: line-through;
    color: rgb(148, 148, 148);
}

#listSubItem {
    display: block;
    cursor: pointer;
    margin-left: 16px;
    font-size: 16px;
    user-select: none;
}

#listItem i.bi, #done i.bi {
    margin-right: 5px;
}

i.bi-check-circle-fill {
    color: var(--bulma-success);
}

.main-bg {
    background: linear-gradient(.25turn, rgb(116, 210, 248), rgb(248, 116, 210), rgb(210, 248, 116));
}

.options {
    position: fixed;
    top: 0px;
    left: 0px;
    border-radius: 15px;
    z-index: 1000;
}

.options .card-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.options .card, .options .card-content {
    border-radius: inherit;
    background-color:rgb(3, 5, 28);
}

.options button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.has-background-item {
    background-color: rgba(253, 249, 4, 0.45);
}

.has-background-subitem {
    background-color: rgba(248, 116, 210, .2);
}

.shadow {
    box-shadow: 15px 0px 0px grey;
    font-size: larger;
}

.dnone {
    display: none !important;
}

#item {
    width: 40%;
}

@media (width < 1408px){
    article.is-info {
        width: 50%;
        left: 25%;
    }
}

@media (width < 770px){
    #item {
        width: 100%;
    }
    .options {
        left: 25px !important;
        max-width: 130px;
    }
    article.is-info {
        width: 100%;
        left: 0;
    }
    
}
