html {
    background-color: rgb(3, 5, 28);
    scrollbar-width: none;
}

hr {
    margin: 0px;
}

.has-background-success {
    background-color: rgba(72,199,142,.50) !important;
}

#listItem {
    cursor: pointer;
    font-size: 20px;
    padding-left: 8px;
    border-bottom: 1px solid lightgray;
    user-select: none;
}

#listSubItem {
    display: block;
    cursor: pointer;
    margin-left: 16px;
    font-size: 16px;
    user-select: none;
}

i.bi-check-circle-fill {
    color: var(--bulma-success);
}

i.bi-caret-right-fill, i.bi-check-circle-fill {
    margin-right: 5px;
}

.main-bg {
    background: linear-gradient(.25turn, rgb(116, 210, 248), rgb(248, 116, 210), rgb(210, 248, 116));
}

.options {
    position: fixed;
    top: 0px;
    left: 0px;
    border-radius: 15px;
    z-index: 1000;
}

.options .card, .options .card-footer {
    border-radius: inherit;
    background-color:rgb(3, 5, 28);
}

.options button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dnone {
    display: none !important;
}

#item {
    width: 40%;
}

@media (width < 770px){
    #item {
        width: 100%;
    }
}