hr {
    margin: 0px;
}

#listItem {
    cursor: pointer;
    font-size: 20px;
    border-bottom: 1px solid lightgray;
    user-select: none;
}

i.fa-caret-right, i.fa-check {
    margin-right: 1%;
    margin-left: 1%;
}

.main-bg {
    background: linear-gradient(.25turn, rgb(116, 210, 248), rgb(248, 116, 210), rgb(210, 248, 116));
}

.dnone {
    display: none !important;
}

#item {
    width: 40%;
}

@media (width < 770px){
    #item {
        width: 100%;
    }
}