:root {
    --md-modal-height: 100vh;
}

.md-modal {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: var(--md-modal-height);
    top: 0px;
    left: 0px;
    z-index: 5;
}

.md-modal-background {
    display: flex;
    justify-content: right;
    height: inherit;
    width: inherit;
    background-color: rgba(var(--bs-info-rgb), 0.2);
    position: inherit;
    z-index: inherit;
}

.md-modal-content { 
    background-color: white;
    padding: 10px 10px 0px 10px;
    max-width: 600px;
    max-height: 400px;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    z-index: 6;
}

.md-modal-background > .btn-close {
    margin: 20px 40px 0px 0px;
}

.dnone {
    display: none;
}