html {
    background-color: #e5f0f4;
}

p{
    font-size: 1.25em;
    overflow-x: scroll;
    scrollbar-width: none;
}

iframe {
    min-height: 600px;
    width: 100%;
}

input {
    width: auto !important;
}

label {
    vertical-align: bottom;
}

.close, #showPreview {
    display: block;
    margin-left:auto;
}

.close {
    margin-bottom: 20px;
}

.container {
    margin-top: 1em;
}

div {
    max-width: 1344px;
}

.dnone {
    display: none;
}

.select select {
    display: inline-block;
}
