*{
    scrollbar-width: thin;
}

h1, h3 {
    user-select: none;
}

iframe {
    border: 1px solid black;
}

div.frame-cover, div.frame-cover.mobile {
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: background-color 550ms ease-in;
    cursor: pointer;
    height: 100%;
    width: 100%;
    z-index: 2;
}

div.frame-cover:hover {
    background-color: rgba(0,0,0,.5);
}

div.frame-cover.mobile {
    background-color: rgba(0,0,0,.5);
    transition: none;
}

.col-6 {
    min-width: 460px;
}

.frame-info {
    margin-bottom: 0px;
}

.dnone {
    display: none;
}

.header {
    background: linear-gradient(180deg, rgb(72, 72, 75),rgb(0,0,0), rgb(72, 72, 75) 90%);
    color: white;
}

.footer {
    background: linear-gradient(180deg, rgb(72, 72, 75),rgb(0,0,0), rgb(72, 72, 75));
}

.card.active {
    position: fixed;
    top: 0px;
    left: 5vw;
    width: 90vw;
    height: 95vh;
    margin-top: 1%;
    scrollbar-width: none;
    overflow:scroll;
    /* opacity: 0; */

    .frame-cover {
        z-index: 1;
    }

    iframe {
        margin-bottom: 1%;
    }
}

.card.active, .card.active * {
    z-index: 2000;
}

.card.active .card-body {
    flex: none;
}

.drawer {
    margin-bottom: 5px;
}

.drawer > p {
    padding: 0px 10px 5px 20px;
    margin-bottom: 0px;
    overflow-y: auto;
    scrollbar-width: thin;
    line-height: 1.25em;
    max-height: 14em;
}

.drawer > h5 {
    cursor: pointer;
    user-select: none;
}

.ratio {
    aspect-ratio: 1/.5;
}

.btn-close {
    float: right;
    color: white;
    border: 2px solid var(--bs-danger);
}

@media (width < 931px){
    .card.active {
        width: 95%;
        left: 0px;
    }

    .card:not(.card.active) {
        margin-bottom: 1%;
    }
}

@media (width < 1300px){
    .ratio {
        aspect-ratio: 1/.75;
    }
}