html {
    /* font-family: 'Mountains of Christmas', cursive; */
    font-family: 'Akaya Kanadaka', cursive;
    scrollbar-width: thin;
}

body {
    /*background-image: url("./amy-shamblen-uYmf3FX2zHM-unsplash.jpg");*/
    background-image: url("./artboard-studio-B40ztSGQTZY-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*width:;*/


}

h1 {
    text-align: center;
    font-size: 64px;

}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    /*opacity: 60%;*/
    /* font-family: 'Mountains of Christmas', cursive; */
    font-family: 'Akaya Kanadaka', cursive;
    border-radius: 15px;
    padding: 1px 8px;
    cursor: pointer;
}

sup {
    font-size: 39px;
}

.santa {
    display: inline-block;
}

#select {
    display: flex;
    justify-content: space-between;
    max-width: 860px;
    margin: 0px auto;
}

#text {
    text-align: center;
    font-size: 36px;
    color: red;
}

#display {
    margin: 5% auto;
    /*background-color: green;*/
    transition: background-color 1000ms ease-in;
    /*height: 400px;*/
    display: flex;
    justify-content: space-around;
    justify-self: center;
    align-content: center;
    max-width: 600px;
}

#giftList {
    /*background-color: #f1a5a7;*/
    background-image: url("./markus-spiske-5jeRBN4-ZLE-unsplash.jpg");
    /* background-image: url("./giftListBackground.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    max-height: 75%;
    max-width: 50%;
    scrollbar-width: thin;
    /*min-width: 520px;*/
    overflow: scroll;
    display: none;
    position: absolute;
    z-index: 2;
}

#userItems,
.listContent ul {
    max-width: 310px;
}

.listContent > li {
    font-weight: 900;
}

.xmas {
    list-style-image: url("./xmas.png");
    transition: font-size 500ms;
}

.xmas:hover {
    font-size: 120%;
    cursor: pointer;
}

ul {
    font-size: 20px;
    list-style: none;

}

li {
    padding: 5px 0px;
}

#giftList ul ul {
    list-style-image: url("./listIcon-gift.png");
    background-color: rgba(239, 235, 236, 0.6);
    display: inline-block;


}

#giftList > button {
    display: inline-block;
    background-color: #f4a5a8;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 10px;
    padding: 4px;
    margin-left: 10px;
    position: sticky;
    top: 5px;
}

.lst-note {
    color: black;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 700;
    width: 60%;
    margin-left: 15px;
    text-align: left;
    border: 1px solid black;
    padding: 5px;
    background-color: #f0eced;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

p {
    text-align: center;
    font-size: 48px;
    color: white;
}

#emptyList {
    color: black;
    font-size: 24px;
    background-color: white;
}

.spcl {
    font-size: calc(100% - 0.3em);
}


@media (width < 616px){
    h1 {
        font-size: 35px;
    }
    sup {
        font-size: 20px;
    }
    #select button {
        font-size: 16px;
    }

    #giftList {
        max-width: 97%;
        margin: auto;
    }
}