html {
    background-color: white;
}

strong {
    color: inherit;
}

textarea {
    width: 100%;
    height:inherit;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
}

select {
    max-width: 75px;
}

select > option {
    text-transform: capitalize;
}

.presentation {
    display: flex;
    justify-content: center;
}
div.popup > div.presentation {
    background-color: rgba(54, 235, 235, 0.25);
    justify-content: center;
    border-radius: 10px;
    height: 7vh;
}
div.presentation > p {
    margin:auto;
}

button:disabled {
    cursor: not-allowed;
}

label {
    text-align: center;
    font-size: .75em;
    cursor: pointer;
}

a.btn {
    padding: 0px;
}

.options {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.toggle-cont {
    display: inline-flex;
    width: 3em;
    height: 15px;
    background-color: var(--bs-secondary-color);
}

.switch-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 5px;
}

.toggle-pill {
    width: 50%;
    margin: 2px;
    background-color: white;
    transition: margin-left 200ms;
    cursor: pointer;
}

.toggle-cont, .toggle-pill {
    border: 1px solid black;
    border-radius: 10px;
}

.tg-on {
    background-color: rgb(45, 221, 10);
}

.tg-off {
    background-color: var(--bs-secondary-color);
}
/* ------------------------------ */
/* Popup to be redone */

.popup {
    height: auto;
    width: 250px;
}
.popup, .info-popup {
    position: fixed;
    display: inline-block;
    margin-left: 13%;
    margin-top: 15%;
    max-width: 755px;
    max-height: 450px;
    overflow: scroll;
    scrollbar-width: none;
    text-align: center;
    font-weight: bold;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid black;
    user-select: none;
    z-index: 1;
}

.info-popup {
    text-align: left;
    padding: 10px;
    margin-left: 20%;
    margin-top: 5%;
}
.info-popup > .presentation {
    display:block;
}
.info-popup > .presentation > p {
    margin-bottom: 10px;
}
/* -------------------------------------------- */

.msg{
    /* width: 80%; */
    border: 1px solid black;
    height: fit-content;
    padding: 0px 10px;
    font-size: .85em;
    background-color: lightgray;
    user-select: none;
}
.msg ul {
    margin-left: 10px;
}
.msg li {
    padding-left: 5px;
    margin-bottom: 10px;
}
.msgContainer {
    display: flex;
    justify-content: right;
    max-width: 40%;
}
.spclFtr{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.usr-btn {
    display: inline-block;
    font-size: small;
    /* background-color: #63c1ff; */
    border: 1px solid grey;
    /* padding: 2px 5px; */
    box-shadow: 0px 0px 0px 1px darkgrey;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
}

.dark {
    background-color: #242729;
    color: white;
}
.green {
    background-color: #33f753;
    color: black;
}
.blue {
    background-color: #1f9fd1;
    color: white;
}
.white {
    background-color: white;
    color: black;
}
.yellow {
    background-color: #f2f224;
    color: black;
}

.lavender {
    background-color: #e6e6fa;
    color: black;
}

#toolBox {
    margin: 1px;
    text-align: center;
}

#TextAreaContain {
    height: 95vh;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.search-replace {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 2;
    background-color: whitesmoke;
    padding: 15px;
}
.search {
    display: inherit;
    align-items: center;
}
.search > input {
    margin-left: 3px;
    margin-right: 3px;
}
.search-options > label {
    margin: 0px 5px;
}
.close-btn {
    text-align: right;
    display: block;
    background-color: inherit;
}
ul > li::marker {
    content: "NEW!";
    font-weight: bold;
    margin-right: 5px;
    
}

.md-modal-content > .static > ol > ol {
    list-style-type: lower-alpha;
}

:root {
    --md-modal-height: 100vh;
}

.static {
    max-height: inherit;
    max-width: inherit;
}

.md-modal {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: var(--md-modal-height);
    top: 0px;
    left: 0px;
    z-index: 5;
}

.md-modal-background {
    display: flex;
    justify-content: right;
    height: inherit;
    width: inherit;
    background-color: rgba(var(--bs-info-rgb), 0.2);
    position: inherit;
    z-index: inherit;
    cursor: pointer;
}

.md-modal-content { 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px 0px 10px;
    max-width: 600px;
    max-height: 400px;
    min-width: 250px;
    min-height: 250px;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    z-index: 6;
}

.md-modal-background > .btn-close {
    margin: 20px 40px 0px 0px;
}
.dnone {
    display: none;
}

.spinner-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 25%;
    z-index: inherit;
}
.spinner-border {
    z-index: inherit;
}

@media (width < 1152px){
    #TextAreaContain {
        max-width: 100%;
    }
}