<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates</title>
    <style>
        ul {
            display: flex;
            justify-content: space-around;
        }
        li {
            list-style: none;
            font-size: xx-large;
            padding: 10px; 
        }
    </style>
</head>
<body>
    <ul>
        <li><a href="./drawer/">Drawers</a></li>
        <li><a href="./myModal/">Modal</a></li>
        <li><a href="./tabs/">Tabs</a></li>
        <li><a href="./toggleSwitch/">Toggle Switch</a></li>
    </ul>
</body>
</html>