<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="toggleSwitch.css">
    <title>Toggle Switch Template</title>
</head>
<body>

    <div class="presentation">
        <span>CW</span>
        <div class="toggle-cont">
            <div class="toggle-pill">

            </div>
        </div>
        <span>OW</span>
    </div>
    <script src="toggleSwitch.js"></script>
</body>
</html>