.container {
    display: block;
    position: relative;
    width: 800px;
    height: 600px;
    margin-top: 20px;
    border: 2px solid black;
}
.ball {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}

#ball1{
    background-color: blue;
    left: 0;
    bottom: 0;
}

.ball1-right {
    animation: ball1 1s linear infinite alternate none;
}

#ball2{
    background-color: blue;
    left: 0;
    bottom: 0;
}

.ball2-right {
    animation: ball2 500ms linear infinite alternate none;
}

@keyframes ball1 {
    0% {
        left: 0;
        bottom: 0;
    }
    50% {
        left: 75px;
        bottom: 300px;
        background-color: green;
    }
    100% {
        left: 748px;
        bottom: 548px;
        background-color: yellow;
    }
}
@keyframes ball2 {
    from {
        left: 0;
        bottom: 0;
    }
    to {
        left: 50px;
        bottom: 100px;
        background-color: pink;
        border-radius: 0;
    }
}